AIRFLOW_UID=50000
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
SPARK_MASTER_URL=spark://spark:7077
TRINO_HOST=trino
TRINO_PORT=8080
HIVE_METASTORE_URI=thrift://catalog:9083
WAREHOUSE_URI=s3a://warehouse/
MINIO_ENDPOINT=http://storage:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=password
AWS_REGION=us-east-1
SLACK_MOCK_PATH=/opt/airflow/alerts/slack.log
